<div class="container footer">  
    <div class="row text-center">
    <p>Copyright © 2017 All rights reserved</p>
    </div>
</div>

<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/dist/main.min.js"/></script>

</body>

</html>