@import "theme.scss";
.article-post {
    ul.posts {
        list-style: none;
        font-size: 0px;
    }
    ul.posts li.post {
        display: block;
        border-radius: 3px;
        width: auto;
        margin: 0 0 2.5% 2.5%;
        font-size: 16px;
        font-size: 1rem;
        height: 130px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    ul.posts li img {
        width: 200px;
        height: 120px;
        margin: 0 0 10px;
        float: left; // border: 1px solid #dedede4a;
        border: 1px solid white;
        &:hover {
            border: 1px solid rgba(128, 128, 128, 0.2);
        }
    }
    ul.posts .post-info {
        margin-left: 220px;
        height: 120px;
        a {
            &:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
    ul.posts li h3 {
        margin: 0em 0 0.6em;
        text-align: left !important;
        text-decoration: none;
        font-family: Source Sans Pro, sans-serif;
        color: #333;
        font-size: 1.8em;
        &:hover {
            color: gray;
        }
    }
    ul.posts li p {
        margin: 0.6em 0 1.3em;
        line-height: 1.5em;
        color: #8c8c8c;
        text-align: left !important;
        font-family: Open Sans, sans-serif;
        font-weight: 300;
        max-height: 3em;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }
    @media (max-width: 480px) {
        ul.grid-nav li {
            display: block;
            margin: 0 0 5px;
        }
        ul.grid-nav li a {
            display: block;
        }
        ul.posts {
            margin-left: 0;
        }
        ul.posts li {
            width: 100% !important;
            margin: 0 0 20px;
        }
        .button {
            width: 50%;
        }
    }
}

.articles {
    .article {
        list-style: none;
        min-height: 160px;
    }
    .article-title {
        cursor: pointer;
        font-size: 1.7rem;
        a {
            text-decoration: none;
            color: $MAIN_COLOR;
        }
    }
    .article-meta {
        color: #969696;
        font-family: Courier New, Courier, monospace;
    }
    .read {
        margin-top: 20px;
    }
}