@import "theme.scss";
#user-profile-abs-hover {
    position: absolute;
    z-index: 100;
    width: 20rem;
    height: auto;
}

.article-static-bar {
    max-height: 50px;
    font-family: 300 16px/1.6em Helvetica, Arial, sans-serif;
    color: #7e7e7e !important;
    div.item {
        display: inline-table !important;
        margin-right: 10px;
        .item-info {
            color: #7e7e7e !important;
            display: table-cell !important;
            vertical-align: middle !important;
            font: 300 14px/1.6em Helvetica, Arial, sans-serif;
        }
    }
    .read,
    .collection,
    .heart {
        font-family: 300 16px/1.6em Helvetica, Arial, sans-serif;
        height: 40px;
        width: 40px;
        cursor: pointer;
        i {
            position: relative;
            top: calc(50% - 10px);
            left: calc(40%);
            &:hover {
                color: #ccc;
            }
            &.active {
                color: #ea0202;
            }
        }
        p {
            color: #7e7e7e !important;
            display: inline-block;
        }
    }
}

.user-write-form {
    .article-cover-img {
        height: 400px;
        margin-top: 2rem;
        background-color: $MAIN_COLOR;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;
        .fileinput-button {
            position: initial !important;
        }
        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-color: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.52), 0 1px 2px rgba(0, 0, 0, 0.54);
            &:hover,
            &:visited,
            &:focus {
                color: $MAIN_COLOR_FONT;
            }
        }
    }
}

.article-page {
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        color: #4e5665;
        font: 300 16px/1.6em Helvetica, Arial, sans-serif;
    }
    @keyframes coverimgtrans {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 0px -300px;
        }
        100% {
            background-position: 0px 0px;
        }
    }
    .article-cover-img {
        height: 450px;
        margin-top: 2rem;
        background-color: $MAIN_COLOR;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-bottom: 50px;
        margin-top: 50pxï¼›;
    }
    .article-header {
        color: $MAIN_COLOR;
    }
    .article-author-thunbnail img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid rgba(128, 128, 128, 0.6);
    }
    .article-title {
        font-weight: bold;
        margin: 20px 0 10px 0;
        font-size: 3em;
    }
    .article-author {
        color: #969696;
        font-family: Courier New, Courier, monospace;
    }
    .split-line {
        border-color: $MAIN_COLOR_FONT;
        display: inline-block;
        width: 5px;
        border-color: #fff;
        height: 10px;
        color: white;
        margin-right: 5px;
        margin-left: 5px;
        border-right: 1px solid;
    }
    .article-content {
        p {
            margin-top: 20px;
            letter-spacing: 0.01rem;
            font-weight: 400;
            font-style: normal;
            font-size: 21px;
            line-height: 2;
            letter-spacing: -0.003em;
        }
        img {
            max-width: 100%;
        }
    }
}