// 定义照片及封面照片及model的css样式
.datax-modal {
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
}

.datax-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.datax-modal-content {
    animation-name: zoom;
    animation-duration: .6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.datax-close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 35px;
    color: #f1f1f1;
    font-weight: bold;
    transition: .3s;
}

.datax-close:hover,
.datax-close:focus {
    color: #BBB;
    text-decoration: none;
    cursor: pointer;
}
