html {
  height: 100%; }

body {
  height: 100%;
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

nav .navbar-brand {
  padding: 7px !important; }
  nav .navbar-brand span {
    font-size: 1.8em;
    font-weight: 500;
    font-family: monospace;
    margin-top: .3em;
    display: inline-block; }
    nav .navbar-brand span.datax-x {
      color: firebrick; }
nav.navbar-findcond {
  background: #fff;
  border-color: #ccc;
  box-shadow: 0 0 2px 0 #ccc; }
  nav.navbar-findcond a {
    color: #242424; }
  nav.navbar-findcond ul.navbar-nav a {
    color: #242424;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #fff; }
    nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active {
      background: #fff; }
    nav.navbar-findcond ul.navbar-nav a:hover {
      border-color: #b9b9b9; }
  nav.navbar-findcond li.divider {
    background: #ccc; }
  nav.navbar-findcond button.navbar-toggle {
    background: #242424;
    border-radius: 2px; }
    nav.navbar-findcond button.navbar-toggle:hover {
      background: #999; }
    nav.navbar-findcond button.navbar-toggle span.icon-bar {
      background: #fff; }
  nav.navbar-findcond ul.dropdown-menu {
    border: 0;
    background: #fff;
    border-radius: 4px;
    margin: 4px 0;
    box-shadow: 0 0 4px 0 #ccc; }
    nav.navbar-findcond ul.dropdown-menu li > a {
      color: #444; }
      nav.navbar-findcond ul.dropdown-menu li > a:hover {
        background: #242424;
        color: #fff; }
  nav.navbar-findcond span.badge {
    background: #242424;
    font-weight: normal;
    font-size: 11px;
    margin: 0 4px; }
    nav.navbar-findcond span.badge.new {
      background: #242424;
      color: #fff; }
nav img {
  width: 120px !important; }

.main {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto; }

header {
  text-align: center;
  color: #fff;
  background: firebrick;
  width: 100%;
  z-index: 1;
  min-height: 85%;
  overflow: hidden;
  top: 0;
  left: 0; }
  header .container {
    padding-top: 120px;
    padding-bottom: 50px; }
  header img {
    max-width: 120px !important;
    display: block;
    margin: 0 auto 20px; }
  header .intro-text .name {
    display: block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700; }
  header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    font-family: monospace; }

.container-login {
  min-height: 0;
  width: 90%;
  color: #333333;
  padding: 0; }
  .container-login section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px; }
  .container-login .nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%; }
    .container-login .nav-tabs.nav-justified li {
      display: table-cell;
      width: 1%;
      float: none; }
      .container-login .nav-tabs.nav-justified li a {
        background: #e73e28;
        color: #ffffff;
        margin-bottom: 0;
        margin-right: 0;
        border-radius: 0; }
        .container-login .nav-tabs.nav-justified li a:hover, .container-login .nav-tabs.nav-justified li a:focus {
          background: firebrick;
          border-color: #fff; }
    .container-login .nav-tabs.nav-justified .active > a,
    .container-login .nav-tabs.nav-justified .active > a:hover,
    .container-login .nav-tabs.nav-justified .active > a:focus {
      background: #ffffff;
      color: #333333; }
  .container-login h2 {
    color: #ea533f;
    font-size: 1.5em;
    padding: 0em 0em 0.5em 0em; }
    .container-login h2 span {
      float: right;
      font-size: .7em;
      margin-top: .5em; }
  .container-login .checkbox {
    margin-top: -15px; }
  .container-login button {
    background-color: #e73e28;
    border-color: #e73e28;
    color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%; }
    .container-login button:hover, .container-login button:focus {
      background: firebrick !important;
      border-color: #fff !important; }
  .container-login .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%; }
  .container-login form .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .container-login form .checkbox {
    text-align: left; }
  .container-login .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .container-login #top-bar {
    display: inherit; }
  .container-login #login-access h2 {
    text-align: left; }
  .container-login .tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px; }

.profile-info {
  text-align: center;
  height: 7%;
  background: firebrick;
  color: white; }
  .profile-info .info-bar {
    display: inline-block;
    padding: 1em 1em; }
    .profile-info .info-bar .info-name {
      font-weight: bold; }
    .profile-info .info-bar .info-detail {
      color: #f1f1f1; }

.profile-main {
  background-color: #f4f4f4;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  width: 100%; }

.profile-user-card {
  margin: 30px 0px 30px 0px;
  background-color: white; }
  .profile-user-card .user-image img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 10px auto 10px auto;
    border-radius: 50%; }
  .profile-user-card .user-name {
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em; }
  .profile-user-card .user-group,
  .profile-user-card .user-job {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
    color: #999;
    font-weight: normal; }
  .profile-user-card .user-job {
    font-weight: 1.2em; }
  .profile-user-card .user-skill,
  .profile-user-card .user-social-info {
    margin-bottom: 1em; }
    .profile-user-card .user-skill h3,
    .profile-user-card .user-social-info h3 {
      margin: 10 0 10px 0;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: .02em;
      text-transform: uppercase;
      color: #999; }
    .profile-user-card .user-skill .skill,
    .profile-user-card .user-social-info .skill {
      box-sizing: content-box;
      color: #999;
      font-size: 13px;
      display: inline-block;
      padding: 5px 5px 5px 5px;
      margin-right: 1em;
      border: 1px solid #ddd;
      color: #444;
      border-radius: 4px;
      cursor: pointer; }
    .profile-user-card .user-skill .socail-link,
    .profile-user-card .user-social-info .socail-link {
      font-size: 2em;
      margin-right: .5em; }
      .profile-user-card .user-skill .socail-link a,
      .profile-user-card .user-social-info .socail-link a {
        color: firebrick; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background: firebrick;
  color: white; }

.divider {
  height: 1px;
  border-bottom: 1px solid #eee; }
