@import "theme.scss";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrap {
    flex: 1 0 auto;
}

nav {
    &.navbar {
        margin-bottom: 0px !important;
    }
    .navbar-brand {
        padding: 7px !important;
        span {
            font-size: 1.8em;
            font-weight: 500;
            font-family: monospace;
            margin-top: 0.3em;
            display: inline-block;
            &.datax-x {
                color: $MAIN_COLOR;
            }
        }
    }
    &.navbar-findcond {
        background: $BACK_GROUND_COLOR;
        a {
            color: $NAV_FONT_COLOR;
        }
        ul.navbar-nav a {
            color: $NAV_FONT_COLOR;
            border-style: solid;
            border-width: 0 0 2px 0;
            border-color: white;
            &:hover,
            &:visited,
            &:focus,
            &:active {
                background: #fff;
            }
            &:hover {
                border-color: $MAIN_COLOR;
            }
            img {
                max-width: 20px;
                display: inline-block;
            }
        }
        li.divider {
            background: #ccc;
        }
        button.navbar-toggle {
            background: $NAV_FONT_COLOR;
            border-radius: 2px;
            &:hover {
                background: #999;
            }
            span.icon-bar {
                background: #fff;
            }
        }
        ul.dropdown-menu {
            border: 0;
            background: #fff;
            border-radius: 4px;
            margin: 4px 0;
            box-shadow: 0 0 4px 0 #ccc;
            li>a {
                color: #444;
                &:hover {
                    background: $NAV_FONT_COLOR;
                    color: #fff;
                }
            }
        }
        span.badge {
            background: $NAV_FONT_COLOR;
            font-weight: normal;
            font-size: 11px;
            margin: 0 4px;
            &.new {
                background: $NAV_FONT_COLOR;
                color: #fff;
            }
        }
    }
    img {
        width: 120px !important;
    }
}

header {
    text-align: center;
    color: $BACK_GROUND_COLOR;
    background: $MAIN_COLOR;
    width: 100%;
    z-index: 1;
    min-height: 85%;
    overflow: hidden;
    top: 0;
    left: 0;
    .container {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    img {
        max-width: 120px !important;
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            display: block;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
            font-family: monospace;
        }
    }
}

.container-login {
    min-height: 0;
    width: 90%;
    color: #333333;
    padding: 0;
    section {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 10px;
    }
    .nav-tabs.nav-justified {
        border-bottom: 0 none;
        width: 100%;
        li {
            display: table-cell;
            width: 1%;
            float: none;
            a {
                background: $BUTTON_COLOR;
                color: #ffffff;
                margin-bottom: 0;
                margin-right: 0;
                border-radius: 0;
                &:hover,
                &:focus {
                    background: $BUTTON_HOVER_COLOR;
                    border-color: $BUTTON_BORDER_COLOR;
                }
            }
        }
        .active>a,
        .active>a:hover,
        .active>a:focus {
            background: #ffffff;
            color: #333333;
        }
    }
    h2 {
        color: $MAIN_COLOR;
        font-size: 1.5em;
        padding: 0em 0em 0.5em 0em;
        span {
            float: right;
            font-size: 0.7em;
            margin-top: 0.5em;
        }
    }
    .checkbox {
        margin-top: -15px;
    }
    button {
        background-color: $BUTTON_COLOR;
        border-color: $BUTTON_COLOR;
        color: #ffffff;
        border-radius: 0;
        font-size: 18px;
        line-height: 1.33;
        padding: 10px 16px;
        width: 100%;
        &:hover,
        &:focus {
            background: $BUTTON_HOVER_COLOR !important;
            border-color: $BUTTON_BORDER_COLOR !important;
        }
    }
    .form-control {
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #999999;
        border-radius: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #333333;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
    }
    form {
        .form-group {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .checkbox {
            text-align: left;
        }
    }
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #top-bar {
        display: inherit;
    }
    #login-access h2 {
        text-align: left;
    }
    .tabs-login {
        background: #ffffff;
        border: medium none;
        margin-top: -1px;
        padding: 10px 30px;
    }
}

.user-projects,
.user-edit-form {
    h2 {
        font-size: 1.2em;
        color: $MAIN_COLOR;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .basic-info {
        margin-bottom: 2em;
    }
}

.user-edit-form {
    label {
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: normal !important;
        color: #949494 !important;
    }
    .fileinput-button {
        display: block !important;
    }
    .user-skill-select {
        .select2-container {
            width: 100% !important;
        }
    }
    #user-header-photo,
    canvas {
        border: 1px solid #ccc;
        width: 150px;
        height: 150px;
        border-radius: 5px;
        &:hover {
            border-color: $MAIN_COLOR;
        }
    }
    li.select2-selection__choice {
        padding: 5px !important;
        height: 2em;
    }
}

.push {
    height: 55px;
}

.footer {
    position: relative;
    height: 55px;
    clear: both;
    text-align: center;
    background: $MAIN_COLOR;
    color: $MAIN_COLOR_FONT;
    p {
        padding: 10px;
        font-weight: bold;
    }
}

// 一些全局的css样式
.divider {
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}

#block_error {
    width: 845px;
    height: 384px;
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff url(/img/block.gif) no-repeat 0 51px;
}

#block_error div {
    padding: 100px 40px 0 186px;
}

#block_error div h2 {
    color: $MAIN_COLOR;
    font-size: 24px;
    display: block;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
    font-weight: bold;
}

.btn-datax {
    border: 1px solid #ddd;
    color: $MAIN_COLOR;
    margin: 5px 0;
    padding: 5px 20px;
    color: $MAIN_COLOR_FONT;
    background-color: $MAIN_COLOR;
    &:hover {
        background-color: $BUTTON_HOVER_COLOR;
        color: $MAIN_COLOR_FONT;
    }
}

.card {
    margin: 30px 0px 30px 0px;
    background-color: white;
}

.reduce-padding {
    padding-right: 10px;
    padding-left: 10px;
}

.info-block {
    margin-bottom: 3em;
}

.full-width {
    width: 100% !important;
}

.left {
    float: left;
}

.right {
    float: right;
}