$NAV_FONT_COLOR: #242424;
$NAV_HOVER_COLOR: #b9b9b9;
$BACK_GROUND_COLOR: #fff;
$BUTTON_COLOR: #e73e28;
$MAIN_COLOR_01:firebrick;
$MAIN_COLOR_01_FONT:white;
$BUTTON_HOVER_COLOR: firebrick;
$BUTTON_BORDER_COLOR: #fff;
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 50px 0; // background-color: #242424;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 50px;
}

nav {
    .navbar-brand {
        padding: 7px !important;
        span {
            font-size: 1.8em;
            font-weight: 500;
            font-family: monospace;
            margin-top: .3em;
            display: inline-block;
            &.datax-x {
                color: firebrick;
            }
        }
    }
    &.navbar-findcond {
        background: $BACK_GROUND_COLOR;
        border-color: #ccc;
        box-shadow: 0 0 2px 0 #ccc;
        a {
            color: $NAV_FONT_COLOR;
        }
        ul.navbar-nav a {
            color: $NAV_FONT_COLOR;
            border-style: solid;
            border-width: 0 0 1px 0;
            border-color: #fff;
            &:hover,
            &:visited,
            &:focus,
            &:active {
                background: #fff;
            }
            &:hover {
                border-color: $NAV_HOVER_COLOR;
            }
            img {
                max-width: 20px;
                display: inline-block;
            }
        }
        li.divider {
            background: #ccc;
        }
        button.navbar-toggle {
            background: $NAV_FONT_COLOR;
            border-radius: 2px;
            &:hover {
                background: #999;
            }
            span.icon-bar {
                background: #fff;
            }
        }
        ul.dropdown-menu {
            border: 0;
            background: #fff;
            border-radius: 4px;
            margin: 4px 0;
            box-shadow: 0 0 4px 0 #ccc;
            li>a {
                color: #444;
                &:hover {
                    background: $NAV_FONT_COLOR;
                    color: #fff;
                }
            }
        }
        span.badge {
            background: $NAV_FONT_COLOR;
            font-weight: normal;
            font-size: 11px;
            margin: 0 4px;
            &.new {
                background: $NAV_FONT_COLOR;
                color: #fff;
            }
        }
    }
    img {
        width: 120px !important;
    }
}

header {
    text-align: center;
    color: $BACK_GROUND_COLOR;
    background: $MAIN_COLOR_01;
    width: 100%;
    z-index: 1;
    min-height: 85%;
    overflow: hidden;
    top: 0;
    left: 0;
    .container {
        padding-top: 120px;
        padding-bottom: 50px;
    }
    img {
        max-width: 120px !important;
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            display: block;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 2em;
            font-weight: 700;
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
            font-family: monospace;
        }
    }
}

.container-login {
    min-height: 0;
    width: 90%;
    color: #333333;
    padding: 0;
    section {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 10px;
    }
    .nav-tabs.nav-justified {
        border-bottom: 0 none;
        width: 100%;
        li {
            display: table-cell;
            width: 1%;
            float: none;
            a {
                background: $BUTTON_COLOR;
                color: #ffffff;
                margin-bottom: 0;
                margin-right: 0;
                border-radius: 0;
                &:hover,
                &:focus {
                    background: $BUTTON_HOVER_COLOR;
                    border-color: $BUTTON_BORDER_COLOR;
                }
            }
        }
        .active>a,
        .active>a:hover,
        .active>a:focus {
            background: #ffffff;
            color: #333333;
        }
    }
    h2 {
        color: #ea533f;
        font-size: 1.5em;
        padding: 0em 0em 0.5em 0em;
        span {
            float: right;
            font-size: .7em;
            margin-top: .5em;
        }
    }
    .checkbox {
        margin-top: -15px;
    }
    button {
        background-color: $BUTTON_COLOR;
        border-color: $BUTTON_COLOR;
        color: #ffffff;
        border-radius: 0;
        font-size: 18px;
        line-height: 1.33;
        padding: 10px 16px;
        width: 100%;
        &:hover,
        &:focus {
            background: $BUTTON_HOVER_COLOR !important;
            border-color: $BUTTON_BORDER_COLOR !important;
        }
    }
    .form-control {
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #999999;
        border-radius: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #333333;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
    }
    form {
        .form-group {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .checkbox {
            text-align: left;
        }
    }
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #top-bar {
        display: inherit;
    }
    #login-access h2 {
        text-align: left;
    }
    .tabs-login {
        background: #ffffff;
        border: medium none;
        margin-top: -1px;
        padding: 10px 30px;
    }
}

.profile-info {
    text-align: center;
    height: 7%;
    background: $MAIN_COLOR_01;
    color: $MAIN_COLOR_01_FONT;
    .info-bar {
        display: inline-block;
        padding: 1em 1em;
        .info-name {
            font-weight: bold;
        }
        .info-detail {
            color: rgb(241, 241, 241);
        }
    }
}

.profile-main {
    background-color: #f4f4f4;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.user-edit-form {
    h2 {
        font-size: 1.2em;
        color: $MAIN_COLOR_01;
        font-weight: bold;
        margin: 20px 0 5px;
    }
    .basic-info {
        margin-bottom: 2em;
    }
    label {
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: normal!important;
        color: #949494!important;
    }
    .fileinput-button {
        display: block!important;
    }
    .user-skill-select {
        .select2-container {
            width: 40%!important;
        }
        // ul {
        //     border-radius: 2px!important;
        //     padding: 5px 0!important;
        //     li {
        //         border-radius: 0px!important;
        //     }
        //     .select2-search-field input {
        //         height: 1.5em;
        //     }
        // }
    }
    .user-image img,
    canvas {
        display: block;
        width: 100px;
        height: 100px;
        margin: 20px auto;
        border-radius: 50%;
        border: 1px solid #ccc;
        cursor: pointer;
    }
}

.profile-user-card {
    margin: 30px 0px 30px 0px;
    background-color: white;
    .user-image img {
        display: block;
        width: 80px;
        height: 80px;
        margin: 20px auto;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
    .user-name {
        font-weight: bold;
        margin: 0 0 10px 0;
        text-align: center;
        font-family: sans-serif;
        font-size: 2em;
    }
    .user-group,
    .user-job {
        display: block;
        margin: 0 0 10px 0;
        text-align: center;
        color: #999;
        font-weight: normal;
    }
    .user-job {
        font-weight: 1.2em;
    }
    .user-skill,
    .user-social-info {
        margin-bottom: 1em;
        h3 {
            margin: 10 0 10px 0;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: .02em;
            text-transform: uppercase;
            color: #999;
        }
        .skill {
            box-sizing: content-box;
            color: #999;
            font-size: 13px;
            display: inline-block;
            padding: 5px 5px 5px 5px;
            margin-right: 1em;
            border: 1px solid #ddd;
            color: #444;
            border-radius: 4px;
            cursor: pointer;
        }
        .socail-link {
            font-size: 2em;
            margin-right: .5em;
            a {
                color: $MAIN_COLOR_01;
            }
        }
    }
}

.footer {
    position: relative;
    height: 50px;
    clear: both;
    text-align: center;
    background: $MAIN_COLOR_01;
    color: $MAIN_COLOR_01_FONT;
    p {
        padding: 10px;
        font-weight: bold;
    }
}

// 一些全局的css样式
.divider {
    height: 1px;
    border-bottom: 1px solid #eee;
    margin: 0 0 10px 0;
}

#block_error {
    width: 845px;
    height: 384px;
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff url(/img/block.gif) no-repeat 0 51px;
}

#block_error div {
    padding: 100px 40px 0 186px;
}

#block_error div h2 {
    color: $MAIN_COLOR_01;
    font-size: 24px;
    display: block;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
    font-weight: bold;
}

.btn-datax {
    border: 1px solid #ddd;
    color: $MAIN_COLOR_01;
    margin: 5px 0;
    background-color: #fff;
}

.card {
    margin: 30px 0px 30px 0px;
    background-color: white;
}