$NAV_FONT_COLOR: #242424;
$NAV_HOVER_COLOR: #b9b9b9;
$BACK_GROUND_COLOR: #fff;
$BUTTON_COLOR: #313a48;
$MAIN_COLOR: #313a48;
$MAIN_COLOR_FONT: white;
$BUTTON_HOVER_COLOR: rgb(38, 45, 56);
$BUTTON_BORDER_COLOR: #fff;