<div class="col-md-12 comment-container">
<div class="comments">
		<div class="comment-wrap">
        <% if(current_user) {%>
				<div class="photo">
						<div class="avatar" style="background-image: url('<%= current_user.thunbnail_url %>')"></div>
				</div>
				<div class="comment-block">
						<form action="">
								<textarea name="" id="comment-content" cols="30" rows="3" placeholder="Add comment..."></textarea>
                                <div class="bottom-comment">
                                    <ul class="comment-actions">
                                            <li class="comment-submit" id="comment-submit-btn" data-id="<%= article.id %>">提交评论</li>
                                    </ul>
						        </div>
						</form>
				</div>
         <% } else { %>
                <div class="photo">
                    <div class="avatar" style="background-image: url('/img/default-user.png')">
                    </div>
                </div>
                <div class="comment-block">
                    <form>
                            <textarea name="" id="comment-content" cols="30" rows="3" placeholder="Add comment..."></textarea>
                            <div class="bottom-comment">
                                <ul class="comment-actions">
                                        <li class="comment-login"><a href="/login">登入系统</a></li>
                                </ul>
                            </div>
                    </form>
                </div>
        <% }%>
		</div>
        <% if(comments && comments.length >0) {%> 
		    <% for( var i = 0;i<comments.length;i++) {%>   
			<div class="comment-wrap">
					<div class="photo">
							<div class="avatar" style="background-image: url('<%= comments[i].User.thunbnail_url %>')"></div>
					</div>
					<div class="comment-block">
							<p class="comment-text"><%= comments[i].content %></p>
							<div class="bottom-comment">
									<div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
									<ul class="comment-actions">
											<li class="reply">回复</li>
									</ul>
							</div>
					</div>
			</div>
			<% } %>
		<% } %>
</div>

</div>
</div>