<div class="profile-info col-md-12" id="web-static-info">
    <div class="info-bar">
        <span class ="info-name">文章总数</span>
        <span class = "info-detail" id="articles-number">0</span>
    </div>
    <div class="info-bar">
        <span class ="info-name">访问量</span>
        <span class = "info-detail" id="read_counter">0</span>
    </div>
    <div class="info-bar">
        <span class ="info-name">喜欢数量</span>
        <span class = "info-detail" id="like_counter">0</span>
    </div>
    <div class="info-bar">
        <span class ="info-name">文章收藏</span>
        <span class = "info-detail" id="collected_counter">0</span>
    </div>
</div>

