
    <div class="push"></div>
</div>
<div class="footer">  
    <div class="text-center">
    <p>Copyright © 2017 All rights reserved</p>
    </div>
</div>

<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/lodash/dist/lodash.min.js"></script>
<script src="/assets/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="/assets/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/assets/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/assets/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="/assets/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
<script src="/assets/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/dist/main-97e794c915.min.js"/></script>
</body>
</html>