<nav class="navbar navbar-findcond">
    <div class="fluid-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img class="img-responsive" alt="" src="/img/logo-h-v1.png"></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
      	<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">在线工具 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/dnssec">DNSSEC验证</a></li>
						<li><a href="/dig">Dig查询</a></li>
						<li class="divider"></li>
						<li><a href="/ping">Ping</a></li>
						<li><a href="/trace">Trace</a></li>
					</ul>
				</li>
				<li class="active"><a href="/articles">技术文章 <span class="sr-only">(current)</span></a></li>
        	<li class="active"><a href="/about">关于我们 <span class="sr-only">(current)</span></a></li>
				<li class="dropdown">
          <% if(typeof current_user === 'undefined' || current_user === '') {%>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">用户管理 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/auth/login">用户登入</a></li>
						<li><a href="/auth/signup">用户注册</a></li>
						<li class="divider"></li>
						<li><a href="/order">邮件订阅</a></li>
            <%} else{ %>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<img class="img-responsive user-thumbnail-img" src="<%= current_user.thunbnail_url ? current_user.thunbnail_url:'/img/default-user.png' %>"/>
							<%= current_user.username%> 
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
            <li><a href="/profile">我的主页</a></li>
            <li class="divider"></li>
						<li><a href="/auth/logout">用户退出</a></li>
            <% } %>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>