<br/>
<br/>
<div class="col-md-6 col-sm-12">
    <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
        <%if (user.password) { %>
        <div class="form-group ">
        <label for="old_password" class="sr-only">原始密码</label>
            <input type="password" class="form-control" name="old_password" id="old_password"
            placeholder="原始密码" value="" tabindex="2" required/>
        </div>
        <% } %>
        <div class="form-group ">
        <label for="new_password" class="sr-only">新密码输入</label>
            <input type="password" class="form-control" name="new_password" id="new_password"
            placeholder="新密码" value="" tabindex="2" required/>
        </div>
        <div class="form-group ">
        <label for="new_password_confirm" class="sr-only">新密码确认</label>
            <input type="password" class="form-control" name="new_password_confirm" id="new_password_confirm"
            placeholder="新密码确认" value="" tabindex="2" required/>
        </div>
        <div class="form-group ">				
            <button type="submit" id="change-password-btn" tabindex="5" class="btn btn-datax">修改密码</button>
        </div>
        <div class="form-group ">	
            <div id="error_msg"></div>
        </div>
    </form>
</div>