<% include ../partial/header %>
<% include ../partial/nav %>
  <% include ./user_static_header.ejs %>
  <div class="col-md-12">
    <div class="profile-main">
    <div class="reduce-padding col-md-3 col-sm-12 ">
        <% include ./user_card.ejs %>
    </div>
    <div class="user-projects col-md-7 col-sm-12">
          <% include ../partial/articlelist %>
          <% include ../partial/pagination %>
    </div>
    <% if(editable) {%>
    <div class="col-md-2 col-sm-12">
      <a class="btn btn-datax full-width" href="/articles/new"><i class="fa fa-keyboard"></i> 创建文章</a>
    </div>
    <% } %>
    </div>
  </div>
<% include ../partial/footer %>