<% include ../partial/header %>
<% include ../partial/nav %>

  <div class="profile-info col-md-12">
      <% include ./user_static_header.ejs %>
  </div>
  <div class="profile-main col-md-12">
      <% include ./user_card.ejs %>
    </div>
    <div class="user-projects col-md-9 col-sm-12">

    </div>
  </div>
<% include ../partial/footer %>