<div class="profile-info col-md-12" id="user-static-info" data-id="<%= user.id %>">
  <a href="/users/<%= user.username %>">
    <div class="info-bar">
      <span class ="info-name"><i class="fa fa-pencil"></i> 发表文章</span>
      <span class = "info-detail" id="articles-number">0</span>
    </div>
  </a>
  <div class="info-bar">
    <span class ="info-name"><i class="fa fa-eye"></i> 访问量</span>
    <span class = "info-detail" id="read_counter">0</span>
  </div>
  <div class="info-bar">
    <span class ="info-name"><i class="fa fa-thumbs-up"></i> 获得喜欢数量</span>
    <span class = "info-detail" id="like_counter">0</span>
  </div>
  <div class="info-bar">
    <span class ="info-name"><i class="fa fa-cart-plus"></i> 文章收藏数</span>
    <span class = "info-detail" id="collected_counter">0</span>
  </div>
</div>

