   
<div class="info-bar">
  <span class ="info-name">发表文章</span>
  <span class = "info-detail">10</span>
</div>
<div class="info-bar">
  <span class ="info-name">访问量</span>
  <span class = "info-detail">202</span>
</div>
<div class="info-bar">
  <span class ="info-name">获得喜欢数量</span>
  <span class = "info-detail">10</span>
</div>
<div class="info-bar">
  <span class ="info-name">文章收藏数</span>
  <span class = "info-detail">5</span>
</div>