<% include ../partial/header %>
<% include ../partial/nav %>
 
    <div id="block_error">
        <div>
         <h2>Error 500. &nbsp 服务器暂时无法响应请求</h2>
        <p>
        非常抱歉，服务器暂时无法响应您的请求，我们已经记录了相关问题<br />
        您也可以联系系统管理员，<a href="/contact">点击</a>发送消息链接.确保及时得到问题反馈
        </p>
        </div>
    </div>
    
<% include ../partial/footer %>